.genresWrap{
    margin-top: 25rem;
}

.genresWrap h1{
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.genres{
    display: flex;
    overflow-x: scroll;
    gap: 1.5rem;
    padding: 1rem;
}

.genres::-webkit-scrollbar {
    width: 100%; 
  }
  
  .genres::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 1rem;
    height: 1rem;
    
  }

.genre{
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    padding: 1.3rem;
    width: 8rem;
}