.sectionSerie{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.sectionSerie h1{
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
}

.series {
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
  }
  
  .series:hover {
    z-index: 9;
    transform: scale(0.95);
  }

  .button{
    margin-bottom: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;  
  }